body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
header{
    background-color: #67B3DD;
    width:50%;
}
#section1{
    background-color: #9EE062;
}
#section2 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}

#section2 article {
    width: calc(50% - 2.5px);
    min-height: 100px;
    flex: none;
}
#article1{
    background-color: #FEDF6B;
}
#article2{
    background-color: #FEDF6B;
}
#article3{
    background-color: #6B2683;
}
#article4{
    background-color:#6B2683;
}


footer{
    background-color: #FC302D;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* tablet layout */
    body{
        max-width: 1023px;
        min-width: 768px;
        gap : 5px;
    }
    header{
        min-height: 50px;
    }
    #section2{
        display: flex;
        flex-wrap: wrap;

    }
    #section2 article{
        width: calc(50% - 5px);
        flex: none;
    }
    #section2 article:nth-child(n+5) {
        display: none;
    }
}