header {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

body {

    background-color: grey;

}
.content {

    display: flex;

}

main {

    width: 80%;

}

aside {

    width: 20%;

}
.box {
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}